# Node.js
node_modules/

# Output of the TypeScript compiler
dist/

# TypeScript
*.tsbuildinfo

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.ico
*.svg